services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest_app
    restart: always
    ports:
      - '3000:3000'
    environment:
      MONGO_URL: mongodb://root:pass123@mongo:27017/mydb?authSource=admin
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: always
    container_name: mongodb_local
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: pass123
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
